@charset "utf-8";
/* CSS Document */

#title {
	text-align: center;
	margin: 2em auto 0px auto;
	font-size: x-large;
	font-weight: bold;
}

#ep-selector {
	position: relative;
	margin: 0px;
	padding: 0px 5%;
}

#ep-button-wrapper {
	display: flex;
  	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 34px 0px;
	overflow-y: hidden;
}

#ep-button-wrapper > div {
	height: auto;
	background-color: rgba(255,255,255,1);
	box-shadow: 0 0 17px 0 rgba(32,52,76,.15);
    transition: box-shadow .4s ease-out;
	padding: 0.5em 1em;
	margin: min(2%, 12px);
	cursor: pointer;
}

#ep-button-wrapper > div:hover {
	box-shadow: 0 2px 30px 2px rgba(32,52,76,.25);
}

#ep-button-wrapper > div > * {
	margin: 0px;
	padding: 0px;
}

#show-more-button {
	background: linear-gradient(to bottom, rgba(253,253,253,0) 0%,rgba(253,253,253,1) 2em);
	width: 100%;
	margin: calc(-4em - 34px) 0px 0px;
	padding: 2em 0px 34px;
	text-align: center;
	position: relative;
	color: #1069c9;
	text-decoration: none;
}

#show-more-button:hover{
	cursor: pointer;
}

hr {
	margin: 0px auto;
	height: 1px;
	width: 80%;
	max-width: 1000px;
	border-width: 0;
	background-color: rgba(32,52,76,.15);
}

#media-holder {
	margin: 2em auto 6em auto;
	padding: 0px;
	width: 80%;
	max-width: 1000px;
}

select {
	border: none;
    font-size: 0.9em;
    margin: 0px;
    max-width: 150px;
    width: 50%;
    padding: 5px 35px 5px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 34px;
	line-height: 22px;
    background: url('../image/arrow_3.webp') 96% / 15% no-repeat #FFF;
    background-color: #fff;
    box-shadow: 0 0 17px 0 rgba(32,52,76,.15);
    transition: box-shadow .4s ease-out;
}
select:hover{
    box-shadow: 0 2px 30px 2px rgba(32,52,76,.25);
}

#media-holder > video {
	width: 100%;
	margin: 2em 0px;
	background-color: #000;
}

#media-holder > audio, #media-holder > img {
	width: 100%;
	margin: 1em 0px;
}

#media-holder > img, #media-holder > video {
	box-shadow: 0 0 17px 0 rgba(32,52,76,.15);
    transition: box-shadow .4s ease-out;
}

#media-holder > img:hover , #media-holder > video:hover {
	box-shadow: 0 2px 30px 2px rgba(32,52,76,.45);
}

#media-holder > img:hover {
	cursor: pointer;
}

.sub-title {
	font-size: large;
	font-weight: bold;
	width: 100%;
	margin: 2em 0px 1em 0px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: white;
	font-size: medium;
	cursor: pointer;
	padding: 18px;
	margin: 0px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	box-shadow: 0 0 17px 0 rgba(32,52,76,.15);
	transition: box-shadow .4s ease-out;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
	box-shadow: 0 2px 30px 2px rgba(32,52,76,.45);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 0 18px;
	margin: 0px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out, box-shadow .4s ease-out;
	box-shadow: 0 0 17px 0 rgba(32,52,76,.15);
}

.panel > p {
	transition: .4s;
}

.panel > p > span {
	cursor: pointer;
	color: #1069c9;
	font-weight: normal;
}

.current-chapter {
	color: #000;
	font-weight: bold;
}

.inactive-chapter {
	color: #adadb5;
	font-weight: normal;
}

.accordion:after {
	content: '\002B'; /* Unicode character for "plus" sign (+) */
	font-size: 1em;
	color: #777;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.panel:hover {
	box-shadow: 0 2px 30px 2px rgba(32,52,76,.25);
}

#loading-text {
	color: #adadb5;
	text-align: center;
	margin: 1em 0px -1em 0px;
}