@charset "utf-8";
/* CSS Document */

:root {
	--foreground-color: rgba(255,255,255,1);
	--background-color: rgba(252,252,252,1);
	--background-color-transparent: rgba(251,251,251,0);
	--text-color: rgba(0,0,0,1);
	--text-color-transparent: rgba(0,0,0,0);
	--alt-text-color: rgba(173,173,181,1);
	--link-text-color: rgba(16,105,201,1);
	--shadow-color: rgba(32,52,76,.15);
	--shadow-color-hover: rgba(32,52,76,.25);
	--horizontal-line-background-color: rgba(220,222,226,1);
	--horizontal-line-foreground-color: rgba(225,227,231,1);
	--red-color: rgba(255,0,0,1);
	--green-color: rgba(0,255,0,1);
	--orange-color: rgba(255,170,16,1);
}

@font-face {
	font-family: "Noto Sans JP";
	src: url("../font/NotoSansJP/NotoSansJP-Light.woff2") format("woff2"),
		url("../font/NotoSansJP/NotoSansJP-Light.otf") format("opentype");
	font-weight: 300;
	font-display: swap;
}

*{
	font-family: 'Noto Sans JP','游ゴシック体','游ゴシック','Yu Gothic','メイリオ',Meiryo,sans-serif;
	font-weight: 300;
	outline: none;
	color: var(--text-color);
}

.document-loading, .document-loading * {
	transition: all 0s ease 0s !important;
}

.appearance-switching, .appearance-switching * {
	transition: all .4s ease-out !important;
}

html {
	scroll-behavior: smooth;
}

body {
    background: var(--background-color);
	margin: 0px;
	padding: 0px;
}

button {
	color: var(--text-color);
}

button:disabled {
	color: var(--alt-text-color);
	pointer-events: none;
}

select {
	color: var(--text-color);
}

#header {
	width: 100%;
	height: 46px;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--foreground-color);
	border-bottom: 1px solid var(--horizontal-line-background-color);
	z-index: 98;
}

#main {
	margin: 0px;
	padding: 46px 0px 0px 0px;
	width: 100%;
}

#main.no-padding {
	padding: 0px;
}

#main-note {
	margin: 0px 0px 2em;
	padding: 0px;
}

.lazyload.complete {
	padding-bottom: 0px!important;
}
.lazyload > img {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.lazyload > .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.password-font {
	font-family: 'arial';
}

.link, .link:link, .link:visited, .link:hover, .link:active {
	cursor: pointer;
	color: var(--link-text-color);
	text-decoration: none;
}

.hidden {
	display: none!important;
}

.invisible {
	visibility: hidden;
}

.transparent {
	opacity: 0;
}

.color-green {
	color: var(--green-color);
}
.color-red {
	color: var(--red-color);
}
.color-orange {
	color: var(--orange-color);
}


.break-all {
	word-break: break-all;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--alt-text-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--alt-text-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--alt-text-color);
}

/*////////////////////////////////////////////////////////Navigation button////////////////////////////////////////////////////////*/
#nav-btn{
    position: fixed;
    top: 10.5px;
    left: 5%;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 100;
}
#nav-btn span{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 2px;
    background: var(--text-color);
    margin: -1px 0 0 -9px;
    -webkit-transform-origin: right top;
    transform-origin: right top;
	transition: .3s;
}
#nav-btn span:before, #nav-btn span:after{
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 2px;
    background: var(--text-color);
    content: "";
    transition: .3s;
}
#nav-btn span:before{
    margin-top: -8px;
}
#nav-btn span:after{
    margin-top: 6px;
    width: 12px;
}
/*
#nav-btn.active{
    pointer-events: none;
}
*/
#nav-btn.active span{
    background: transparent;
}
#nav-btn.active span:before, #nav-btn.active span:after{
    margin-top: 0;
}
#nav-btn.active span:before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-btn.active span:after{
    width: 18px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/*////////////////////////////////////////////////////////Navigation menu////////////////////////////////////////////////////////*/

#nav-menu {
	z-index: 99;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	transition: opacity .3s ease-out;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	#nav-menu {
		background-color: rgba(255, 255, 255, 0.55);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	#nav-menu {
		background-color: var(--foreground-color);
	}
}

#nav-menu-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#nav-menu-content > p {
	text-align: center;
	margin: 2em;
	font-size: large;
}

#nav-menu-content > p > span {
	cursor: pointer;
}
