@charset "utf-8";
/* CSS Document */

#form {
	max-width: 90%;
	margin: 0px;
	padding: 5vh 0px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	text-align: center;
}

#title {
	text-align: center;
	margin: 0px;
	padding: 1em 0px;
	font-size: x-large;
	font-weight: 500;
}

#warning {
	padding: 0px;
	margin: 1em 0px;
	color: var(--red-color);
}

.input-field, #submit-button {
	margin: 1em 0px;
	padding: 0px;
	height: 40px;
	box-shadow: 0 0 17px 0 var(--shadow-color);
    transition: box-shadow .4s ease-out;
	background: var(--foreground-color);
	border: none;
}

#submit-button {
	width: 150px;
	max-width: 80%;
	text-align: center;
	cursor: pointer;
	font-size: medium;
}

.input-field {
	width: 300px;
	max-width: 100%;
	position: relative;
	left: 50%;
  	transform: translate(-50%, 0%);
}

.input-field > input {
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	margin: 0px;
	padding: 0px 5%;
	box-sizing: border-box;
	font-size: medium;
}

.input-field:hover, #submit-button:hover {
	box-shadow: 0 2px 30px 2px var(--shadow-color-hover);
}

#note {
	margin-bottom: 2em;
}

#note > ul {
	font-size: small;
	text-align: left;
	padding: 0px 0px 0px 2em;
}

#note > ul > li {
	color: var(--alt-text-color);
}