<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: '404 | ' + data.domain, index: false, legacy: true }) %>
    <script src="/script_legacy/404.js"></script>
</head>

<body>
</body>

</html>