<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: htmlWebpackPlugin.options.title, index: index }) %>
    <%= require("./module/header_theme.ejs").default() %>

    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Medium.css">
    <link rel="stylesheet" type="text/css" href="/font/Segoe/SegMDL2.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bangumi.css">
    <link rel="stylesheet" type="text/css" href="/css/video-js.css">
    <link rel="stylesheet" type="text/css" href="/css/videojs_mod.css">
</head>

<body class="hidden">
    <div id="header"></div>
    <div id="nav-btn"><span></span></div>
    <div id="nav-menu" class="invisible transparent">
        <div id="nav-menu-content"></div>
    </div>

    <div id="main">
        <p id="title"></p>
        <div id="season-selector"></div>
        <div id="ep-selector"></div>
        <hr>
        <!--warning message-->
        <div id="content">
            <!--title-->
            <!--format selector-->
            <!--error message-->
            <div id="media-holder">
                <!--media message-->
                <!--player-->
                <!--chapter accordion-->
            </div>
            <!--download accordion-->
        </div>
    </div>
</body>

</html>