<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: titleSuffix, index: false }) %>
    <%= require("./module/header_theme.ejs").default() %>

    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Medium.css">
    <link rel="stylesheet" type="text/css" href="/font/Segoe/SegMDL2.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bangumi.css">
    <link rel="stylesheet" type="text/css" href="/css/player.css">
</head>

<body class="hidden">
    <p id="title"></p>
    <div id="season-selector"></div>
    <div id="ep-selector"></div>
    <hr>
    <!--warning message-->
    <div id="content">
        <!--title-->
        <!--format selector-->
        <!--error message-->
        <div id="media-holder">
            <!--media message-->
            <!--player-->
            <!--chapter accordion-->
        </div>
        <!--download accordion-->
    </div>
</body>

</html>