<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: 'メールアドレス変更 | ' + titleSuffix, index: false }) %>
    <%= require("./module/header_theme.ejs").default() %>

    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Medium.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/portal_form.css">
</head>

<body class="hidden">
    <div id="form">
        <p id="title">メールアドレス変更</p>
        <p id="note">変更を確認するため、変更前のメールアドレスとパスワードを再入力してください。</p>
        <p id="warning" class="hidden"></p>
        <div class="input-field"><input id="email" type="email" autocomplete="email" placeholder="メールアドレス" autocapitalize="off" maxlength="254"></div>
        <div class="input-field"><input id="password" type="password" autocomplete="current-password" placeholder="パスワード"></div>
        <button id="submit-button">送信する</button>
    </div>
</body>

</html>