<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: htmlWebpackPlugin.options.title, index: index }) %>

    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansSC/NotoSansSC-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansTC/NotoSansTC-Light.css">
    <link rel="stylesheet" type="text/css" href="/css/console.css">
</head>

<body class="hidden">
    <button id="get-series-table">Get Series Table</button>
    <button id="get-account-table">Get Account Table</button>
    <button id="get-invite-table">Get Invite Table</button>
    <button id="get-news-table">Get News Table</button>
    <button id="get-log-table">Get Log Table</button>
    <button id="get-download-table">Get Download Table</button>
    <br>
    <br>
    <button id="generate-id">Generate id</button>
    <button id="generate-series-id">Generate series-id</button>
    <button id="generate-news-id">Generate news-id</button>
    <p id="id-output"></p>
    <br>
    <br>
    <textarea id="clear-cache-dir" rows="1" cols="30"></textarea>
    <button id="clear-cdn-cache">Clear CDN Cache</button>
    <button id="clear-key-cache">Clear Key Cache</button>
    <button id="rebuild-series-search">Rebuild Series Search Index</button>
    <br>
    <br>
    <textarea id="verify-id" rows="1" cols="30"></textarea>
    <button id="verify">Verify</button>
    <br>
    <br>
    <button id="show-all-column">Show Databases</button>
    <button id="show-all-index">Show Index</button>
    <button id="show-create-table">Show Create Table</button>
    <button id="run-debug">Run Debug</button>
    <button id="run-benchmark-hash">Run Benchmark Hash</button>
    <button id="run-benchmark-signature">Run Benchmark Signature</button>
    <button id="run-benchmark-key-pair">Run Benchmark Key Pair</button>
    <button id="run-benchmark-match-str">Run Benchmark Match String</button>
    <button id="run-benchmark-random">Run Benchmark Generate Random</button>
    <button id="run-benchmark-password-hash">Run Benchmark Password Hash</button>
    <br>
    <br>
    <div id="output"></div>
</body>

</html>