<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: title, description: description, index: false }) %>
</head>

<body>
    <div id="loading-bar"></div>
    <div id="inner-body"></div>
</body>

</html>