<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: title, index: !dev }) %>
    <%= require("./module/theme_header.ejs").default() %>
</head>

<body>
    <div id="loading-bar"></div>
    <div id="inner-body"></div>
</body>

</html>