<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: title, index: false }) %>
    <%= require("./module/header_theme.ejs").default() %>
</head>

<body></body>

</html>