<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: titleSuffix, index: false }) %>

    <link rel="stylesheet" type="text/css" href="/css/image.css">
</head>

<body>
    <div id="flex-container">
        <div id="image-container">
            <div class="overlay"></div>
        </div>
    </div>
</body>

</html>