<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: 'マイページ | ' + titleSuffix, index: !dev }) %>
    <%= require("./module/header_theme.ejs").default() %>

    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Medium.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansSC/NotoSansSC-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansTC/NotoSansTC-Light.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/my_account.css">
</head>

<body class="hidden">
    <div id="container"></div>
</body>

</html>