<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: 'メールアドレス変更 | ' + domain, index: false }) %>
    <%= require("./module/header_theme.ejs").default() %>

    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Medium.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/portal_form.css">
</head>

<body class="hidden">
    <div id="form">
        <p id="title">メールアドレス変更</p>
        <p id="warning" class="hidden"></p>
        <div class="input-field"><input type="email" autocomplete="email" id="new-email" placeholder="新しいメールアドレス" autocapitalize="off" maxlength="254"></div>
        <button id="submit-button">送信する</button>
    </div>
</body>

</html>