<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: 'パスワード再発行 | ' + domain, index: false }) %>
    <%= require("./module/header_theme.ejs").default() %>

    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Medium.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/portal_form.css">
</head>

<body class="hidden">
    <div id="form">
        <p id="title">パスワード再発行</p>
        <p id="warning" class="hidden"></p>
        <div class="input-field"><input id="new-password" type="password" autocomplete="new-password" placeholder="新しいパスワード" autocapitalize="off"></div>
        <div class="input-field"><input id="new-password-confirm" type="password" autocomplete="new-password" placeholder="確認再入力" autocapitalize="off"></div>
        <button id="submit-button">変更する</button>
        <div id="note">
            <ul>
                <li>使用できる文字は、半角数字・半角英字・記号 ` ~ ! @ # $ % ^ &amp; * ( ) - = _ + [ ] { } \ | ; : &apos; &quot; , . &lt; &gt; / ? です。</li>
                <li>8～64文字で入力して下さい。</li>
                <li>大文字、小文字、数字を含める必要があります。</li>
            </ul>
        </div>
    </div>
</body>

</html>