<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: htmlWebpackPlugin.options.title, index: index }) %>
    <%= require("./module/header_theme.ejs").default() %>

    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Light.css">
    <link rel="stylesheet" type="text/css" href="/font/NotoSansJP/NotoSansJP-Medium.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/portal_form.css">
</head>

<body class="hidden">
    <div id="form">
        <p id="title">パスワード再発行</p>
        <p id="note">登録されているメールアドレスを入力してください。</p>
        <p id="warning" class="hidden"></p>
        <div class="input-field"><input id="email" type="email" autocomplete="email" placeholder="メールアドレス" autocapitalize="off" maxlength="254"></div>
        <button id="submit-button">送信する</button>
        <p id="go-back"><span class="link">&#x276E;&nbsp;&nbsp;戻る</span></p>
    </div>
</body>

</html>