<!doctype html>
<html lang="ja">

<head>
    <%= require("./module/main_header.ejs").default({ title: data.title, index: false, legacy: true }) %>
    <%= require("./module/header_theme.ejs").default() %>

    <link rel="stylesheet" type="text/css" href="/style/unsupported_browser.css">
</head>

<body>
    <div id="container">
        <div>
            <p class="title">ブラウザをアップデートしてください</p>
            <p class="message">お使いのブラウザが古すぎるため、対応しておりません。引き続きご利用いただくには、ブラウザのアップデートをお願いいたします。</p>
            <p><a class="link" href="https://www.google.com/intl/ja/chrome/" target="_blank" rel="noopener noreferrer">Google Chrome</a></p>
            <p><a class="link" href="https://support.apple.com/ja-jp/HT204416" target="_blank" rel="noopener noreferrer">Safari</a></p>
            <p><a class="link" href="https://www.microsoft.com/ja-jp/edge" target="_blank" rel="noopener noreferrer">Microsoft Edge</a></p>
            <p><a class="link" href="https://www.mozilla.org/ja/firefox/" target="_blank" rel="noopener noreferrer">Mozilla Firefox</a></p>
            <p><a class="link" href="https://www.opera.com/ja" target="_blank" rel="noopener noreferrer">Opera</a></p>
            <p><a class="link" href="https://brave.com/ja/" target="_blank" rel="noopener noreferrer">Brave</a></p>
            <p><a class="link" href="https://www.galaxymobile.jp/apps/internet/" target="_blank" rel="noopener noreferrer">Galaxyブラウザ</a></p>
        </div>
        <hr>
        <div lang="en">
            <p class="title">Please update your browser</p>
            <p class="message">Your browser isn't supported anymore. Update it to continue using the website.</p>
            <p><a class="link" href="https://www.google.com/intl/en_us/chrome/" target="_blank" rel="noopener noreferrer">Google Chrome</a></p>
            <p><a class="link" href="https://support.apple.com/en-us/HT204416" target="_blank" rel="noopener noreferrer">Safari</a></p>
            <p><a class="link" href="https://www.microsoft.com/en-us/edge" target="_blank" rel="noopener noreferrer">Microsoft Edge</a></p>
            <p><a class="link" href="https://www.mozilla.org/en-US/firefox/" target="_blank" rel="noopener noreferrer">Mozilla Firefox</a></p>
            <p><a class="link" href="https://www.opera.com/" target="_blank" rel="noopener noreferrer">Opera</a></p>
            <p><a class="link" href="https://brave.com/" target="_blank" rel="noopener noreferrer">Brave</a></p>
            <p><a class="link" href="https://www.samsung.com/us/support/owners/app/samsung-internet" target="_blank" rel="noopener noreferrer">Samsung Internet</a></p>
        </div>
        <hr>
        <div lang="zh-Hant">
            <p class="title">請更新您的瀏覽器</p>
            <p class="message">此網站已不再支援您使用的瀏覽器，如要繼續使用此網站請更新瀏覽器。</p>
            <p><a class="link" href="https://www.google.com/intl/zh-TW/chrome/" target="_blank" rel="noopener noreferrer">Google Chrome</a></p>
            <p><a class="link" href="https://support.apple.com/zh-tw/HT204416" target="_blank" rel="noopener noreferrer">Safari</a></p>
            <p><a class="link" href="https://www.microsoft.com/zh-tw/edge" target="_blank" rel="noopener noreferrer">Microsoft Edge</a></p>
            <p><a class="link" href="https://www.mozilla.org/zh-TW/firefox/" target="_blank" rel="noopener noreferrer">Mozilla Firefox</a></p>
            <p><a class="link" href="https://www.opera.com/" target="_blank" rel="noopener noreferrer">Opera</a></p>
            <p><a class="link" href="https://brave.com/" target="_blank" rel="noopener noreferrer">Brave</a></p>
            <p><a class="link" href="https://www.samsung.com/tw/apps/samsung-internet/" target="_blank" rel="noopener noreferrer">Samsung Internet</a></p>
        </div>
        <hr>
        <div lang="zh-Hans">
            <p class="title">请更新您的浏览器</p>
            <p class="message">此网站已不再支持您使用的浏览器，如要继续使用此网站请更新浏览器。</p>
            <p><a class="link" href="https://www.google.com/intl/zh-CN/chrome/" target="_blank" rel="noopener noreferrer">Google Chrome</a></p>
            <p><a class="link" href="https://support.apple.com/zh-cn/HT204416" target="_blank" rel="noopener noreferrer">Safari</a></p>
            <p><a class="link" href="https://www.microsoft.com/zh-cn/edge" target="_blank" rel="noopener noreferrer">Microsoft Edge</a></p>
            <p><a class="link" href="https://www.mozilla.org/zh-CN/firefox/" target="_blank" rel="noopener noreferrer">Mozilla Firefox</a></p>
            <p><a class="link" href="https://www.opera.com/zh-cn" target="_blank" rel="noopener noreferrer">Opera</a></p>
            <p><a class="link" href="https://brave.com/zh/" target="_blank" rel="noopener noreferrer">Brave</a></p>
            <p><a class="link" href="https://www.samsung.com/cn/apps/samsung-internet/" target="_blank" rel="noopener noreferrer">三星浏览器</a></p>
        </div>
    </div>
</body>

</html>