<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<title><%= data.title %></title>
<meta name="description" content="<%= data.description %>">
<% if(!data.legacy){ %>
<script src="/script/browser.js"></script>
<% } %>