<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="robots" content="<%= data.index ? "nofollow, noarchive, nosnippet" : "noindex, nofollow" %>">
<meta name="description" content="<%= data.description %>">
<title><%= data.title %></title>
<% if(!data.legacy){ %>
<script src="/script_legacy/browser.js"></script>
<% } %>