@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: "SegMDL2";
	src: url("SegMDL2_v2.woff2") format("woff2"),
		url("SegMDL2_v2.woff") format("woff");
	font-display: block;
	unicode-range: U+E70D, U+E971, U+E972;
}