@charset "utf-8";
/* CSS Document */

.dark-mode #season-button-wrapper > div {
	border-bottom-color: var(--text-color-transparent-dark);
}

.dark-mode #season-button-wrapper > div > p {
	color: var(--alt-text-color-dark);
}

.dark-mode #season-button-wrapper > div:hover {
	border-bottom-color: var(--text-color-dark);
}

.dark-mode #season-button-wrapper > div:hover > p {
	color: var(--text-color-dark);
}

.dark-mode #season-button-wrapper > div.current-season {
	border-bottom-color: var(--text-color-dark);
}

.dark-mode #season-button-wrapper > div.current-season > p {
	color: var(--text-color-dark);
}

.dark-mode #ep-button-wrapper > div {
	background-color: var(--foreground-color-dark);
	box-shadow: 0 0 17px 0 var(--shadow-color-dark);
}

.dark-mode #ep-button-wrapper > div:hover {
	box-shadow: 0 2px 30px 2px var(--shadow-color-hover-dark);
}

.dark-mode #show-more-button {
	background: linear-gradient(to bottom, var(--background-color-transparent-dark) 0%,var(--background-color-dark) 2em);
}

.dark-mode #show-more-button, .dark-mode #show-more-button * {
	color: var(--link-text-color-dark);
}

.dark-mode hr {
	background-color: var(--horizontal-line-background-color-dark);
}

.dark-mode #format-selector:after {
	color: var(--alt-text-color-dark);
}

.dark-mode select {
    background-color: var(--foreground-color-dark);
    box-shadow: 0 0 17px 0 var(--shadow-color-dark);
}
.dark-mode select:hover{
    box-shadow: 0 2px 30px 2px var(--shadow-color-hover-dark);
}

.dark-mode #media-holder > .lazyload, .dark-mode #media-holder > .video-js {
	box-shadow: 0 0 17px 0 var(--shadow-color-dark);
}

.dark-mode #media-holder > .lazyload:hover , .dark-mode #media-holder > .video-js:hover {
	box-shadow: 0 2px 30px 2px var(--shadow-color-hover-dark);
}

.dark-mode #media-holder > video-js.vjs-fullscreen {
	box-shadow: none;
}
.dark-mode #media-holder > video-js.vjs-fullscreen:hover {
	box-shadow: none;
}

.dark-mode .artist {
	color: var(--alt-text-color-dark);
}

.dark-mode .sub-title > .format {
	color: var(--alt-text-color-dark);
}

.dark-mode #warning, .dark-mode #message {
	background-color: var(--foreground-color-dark);
	box-shadow: 0 0 17px 0 var(--shadow-color-dark);
}

.dark-mode .button {
	box-shadow: 0 0 17px 0 var(--shadow-color-dark);
	background: var(--foreground-color-dark);
}

.dark-mode #warning:hover, .dark-mode .button:hover {
	box-shadow: 0 2px 30px 2px var(--shadow-color-hover-dark);
}

/**Accodions/
/* Style the buttons that are used to open and close the accordion panel */
.dark-mode .accordion {
	background-color: var(--foreground-color-dark);
	box-shadow: 0 0 17px 0 var(--shadow-color-dark);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.dark-mode .accordion:hover {
	box-shadow: 0 2px 30px 2px var(--shadow-color-hover-dark);
}

/* Style the accordion panel. Note: hidden by default */
.dark-mode .panel {
	background-color: var(--foreground-color-dark);
	box-shadow: 0 0 17px 0 var(--shadow-color-dark);
}

.dark-mode .accordion:after {
	color: var(--alt-text-color-dark);
}

.dark-mode .panel:hover {
	box-shadow: 0 2px 30px 2px var(--shadow-color-hover-dark);
}

/*Chapters*/
.dark-mode .chapters > .panel > p > span {
	color: var(--link-text-color-dark);
}

.dark-mode .chapters > .panel > .current-chapter {
	color: var(--text-color-dark);
}

.dark-mode .chapters > .panel > .inactive-chapter {
	color: var(--alt-text-color-dark);
}