@charset "utf-8";
/* CSS Document */

.dark-mode #container {
	background-color: var(--foreground-color-dark);
	box-shadow: 0 0 17px 0 var(--shadow-color-dark);
}

.dark-mode #container:hover {
	box-shadow: 0 2px 30px 2px var(--shadow-color-hover-dark);
}

.dark-mode #date {
	color: var(--alt-text-color-dark);
}

.dark-mode hr {
	background-color: var(--horizontal-line-foreground-color-dark);
}

.dark-mode .important, .dark-mode .important > p {
	color: var(--red-color-dark);
}