@charset "utf-8";
/* CSS Document */

/*///////////////////////////////////Custom Checkbox///////////////////////////////////*/

/* Create a custom checkbox */
.dark-mode .checkmark {
	background-color: var(--foreground-color-dark);
	box-shadow: 0 0 12px 1px var(--shadow-color-dark);
}

/* On mouse-over, add a grey background color */
.dark-mode .container:hover input ~ .checkmark {
	box-shadow: 0 2px 20px 3px var(--shadow-color-hover-dark);
}

/* Style the checkmark/indicator */
.dark-mode .container .checkmark:after {
	border-color: var(--text-color-dark);
}