@charset "utf-8";
/* CSS Document */

.dark-mode #container {
	background-color: var(--foreground-color-dark);
	box-shadow: 0 0 17px 0 var(--shadow-color-dark);
}

.dark-mode button {
	box-shadow: 0 0 17px 0 var(--shadow-color-dark);
	background: var(--foreground-color-dark);
}

.dark-mode #container:hover, .dark-mode button:hover {
	box-shadow: 0 2px 30px 2px var(--shadow-color-hover-dark);
}