@use 'module/property';

.button,
.input-field {
    box-shadow: var(property.get(shadow));
    transition: box-shadow .4s ease-out;
    background: var(property.get(foreground-color));
    max-width: 100%;
    margin: 1em 0px;
}

.input-field:not(.disabled):hover,
.button:enabled:hover {
    box-shadow: var(property.get(shadow-hover));
}

.button,
.input-field>input {
    font-size: medium;
    border: none;
    border-radius: 0px;
    padding: 0.5em 1em;

    &:disabled {
        color: var(property.get(alt-text-color));
        /* required on iOS */
        -webkit-text-fill-color: var(property.get(alt-text-color));
        opacity: 1;
        cursor: wait;
    }
}

.button {
    width: 10em;
    min-height: 2.5em;
    cursor: pointer;
    text-align: center;
    display: block;
}

.input-field {
    width: 20em;
    padding: 0px;
    /* There are some weird issues on some iOS devices where if you clear and re-enter in input fields the container will have a few extra pixels in height */
    height: 2.5em;

    >input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        margin: 0px;
        box-sizing: border-box;
    }
}

.button:disabled {
    background-color: var(property.get(foreground-color));
}

.input-field>input:disabled {
    background-color: transparent;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: var(property.get(alt-text-color));
    opacity: 1;
}