@use 'module/properties';

:root {
    #{properties.get(background-color)}: rgba(252, 252, 252, 1);
    #{properties.get(foreground-color)}: rgba(255, 255, 255, 1);
    #{properties.get(background-color-transparent)}: rgba(251, 251, 251, 0);
    #{properties.get(grey-background-color)}: rgba(235, 235, 235, 1);

    #{properties.get(text-color)}: rgba(0, 0, 0, 1);
    #{properties.get(text-color-transparent)}: rgba(0, 0, 0, 0);
    #{properties.get(alt-text-color)}: rgba(173, 173, 181, 1);
    #{properties.get(link-text-color)}: rgba(16, 105, 201, 1);

    #{properties.get(horizontal-line-background-color)}: rgba(220, 222, 226, 1);
    #{properties.get(horizontal-line-foreground-color)}: rgba(225, 227, 231, 1);

    #{properties.get(red-color)}: rgba(255, 0, 0, 1);
    #{properties.get(green-color)}: rgba(0, 255, 0, 1);
    #{properties.get(orange-color)}: rgba(255, 170, 16, 1);

    #{properties.get(shadow-color)}: rgba(32, 52, 76, .15);
    #{properties.get(shadow-color-hover)}: rgba(32, 52, 76, .25);
    #{properties.get(shadow-size)}: 0 0 17px 0;
    #{properties.get(shadow-size-hover)}: 0 2px 30px 2px;
    #{properties.get(shadow)}: var(properties.get(shadow-size)) var(properties.get(shadow-color));
    #{properties.get(shadow-hover)}: var(properties.get(shadow-size-hover)) var(properties.get(shadow-color-hover));

    #{properties.get(safe-area-inset-top)}: 0;
    #{properties.get(safe-area-inset-right)}: 0;
    #{properties.get(safe-area-inset-bottom)}: 0;
    #{properties.get(safe-area-inset-left)}: 0;

    @media only screen and (prefers-color-scheme: dark) {
        #{properties.get(background-color)}: rgba(40, 41, 49, 1);
        #{properties.get(foreground-color)}: rgba(43, 44, 52, 1);
        #{properties.get(background-color-transparent)}: rgba(40, 41, 49, 0);
        #{properties.get(grey-background-color)}: rgba(65, 68, 80, 1);

        #{properties.get(text-color)}: rgba(210, 213, 220, 1);
        #{properties.get(text-color-transparent)}: rgba(210, 213, 220, 0);
        #{properties.get(alt-text-color)}: rgba(95, 97, 106, 1);
        #{properties.get(link-text-color)}: rgba(28, 98, 221, 1);

        #{properties.get(horizontal-line-background-color)}: rgba(48, 52, 62, 1);
        #{properties.get(horizontal-line-foreground-color)}: rgba(54, 58, 69, 1);

        #{properties.get(red-color)}: rgba(205, 3, 70, 1);
        #{properties.get(green-color)}: rgba(15, 214, 72, 1);
        #{properties.get(orange-color)}: rgba(234, 129, 4, 1);

        #{properties.get(shadow-color)}: rgba(15, 16, 24, .55);
        #{properties.get(shadow-color-hover)}: rgba(15, 16, 24, .60);
    }

    @media not screen and (hover: hover) and (pointer: fine) {
        #{properties.get(shadow-hover)}: var(properties.get(shadow));
    }

    @supports (--a: env(safe-area-inset-top, 0px)) {
        #{properties.get(safe-area-inset-top)}: env(safe-area-inset-top, 0px);
    }

    @supports (--a: env(safe-area-inset-right, 0px)) {
        #{properties.get(safe-area-inset-right)}: env(safe-area-inset-right, 0px);
    }

    @supports (--a: env(safe-area-inset-bottom, 0px)) {
        #{properties.get(safe-area-inset-bottom)}: env(safe-area-inset-bottom, 0px);
    }

    @supports (--a: env(safe-area-inset-left, 0px)) {
        #{properties.get(safe-area-inset-left)}: env(safe-area-inset-left, 0px);
    }
}

* {
    outline: none;
}

html {
    display: none;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    padding: var(properties.get(safe-area-inset-top)) var(properties.get(safe-area-inset-right)) var(properties.get(safe-area-inset-bottom)) var(properties.get(safe-area-inset-left));

    @media screen {
        display: block;
    }
}

html,
body {
    margin: 0px;
}

body {
    padding: 0px;
    background: var(properties.get(background-color));
}

.loading-bar {
    background-color: var(properties.get(text-color));
    height: 1.5px;
    position: fixed;
    top: var(properties.get(safe-area-inset-top));
    left: 0;
    width: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: width .4s ease-out, opacity .2s ease-out, visibility .2s ease-out;
}

html,
select,
option,
button,
input {
    /* not using lang pseudo class here to ensure the font-weight and color will fall back to the default even in different language */
    font-family: 'Noto Sans JP', 'メイリオ', Meiryo, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    color: var(properties.get(text-color));
}

.hcenter {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.button,
.input-field {
    box-shadow: var(properties.get(shadow));
    transition: box-shadow .4s ease-out;
    background: var(properties.get(foreground-color));
    max-width: 100%;
    margin: 1em 0px;
}

.input-field:not(.disabled):hover,
.button:enabled:hover {
    box-shadow: var(properties.get(shadow-hover));
}

.button,
.input-field>input {
    font-size: medium;
    border: none;
    border-radius: 0px;
    padding: 0.5em 1em;

    &:disabled {
        color: var(properties.get(alt-text-color));
        /* required on iOS */
        -webkit-text-fill-color: var(properties.get(alt-text-color));
        opacity: 1;
        cursor: wait;
    }
}

.button {
    width: 10em;
    min-height: 2.5em;
    cursor: pointer;
    text-align: center;
    display: block;
}

.input-field {
    width: 20em;
    padding: 0px;
    /* There are some weird issues on some iOS devices where if you clear and re-enter in input fields the container will have a few extra pixels in height */
    height: 2.5em;

    >input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        margin: 0px;
        box-sizing: border-box;
    }
}

.button:disabled {
    background-color: var(properties.get(foreground-color));
}

.input-field>input:disabled {
    background-color: transparent;
}

.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
    cursor: pointer;
    color: var(properties.get(link-text-color));
    text-decoration: none;
}

.color-green {
    color: var(properties.get(green-color));
}

.color-red {
    color: var(properties.get(red-color));
}

.color-orange {
    color: var(properties.get(orange-color));
}

::placeholder {
    /* Most modern browsers support this now. */
    color: var(properties.get(alt-text-color));
    opacity: 1;
}