@charset "utf-8";
/* CSS Document */

:root {
    --background-color: rgba(252, 252, 252, 1);
    --foreground-color: rgba(255, 255, 255, 1);
    --background-color-transparent: rgba(251, 251, 251, 0);
    --grey-background-color: rgba(235, 235, 235, 1);

    --text-color: rgba(0, 0, 0, 1);
    --text-color-transparent: rgba(0, 0, 0, 0);
    --alt-text-color: rgba(173, 173, 181, 1);
    --link-text-color: rgba(16, 105, 201, 1);

    --horizontal-line-background-color: rgba(220, 222, 226, 1);
    --horizontal-line-foreground-color: rgba(225, 227, 231, 1);

    --red-color: rgba(255, 0, 0, 1);
    --green-color: rgba(0, 255, 0, 1);
    --orange-color: rgba(255, 170, 16, 1);

    --shadow-color: rgba(32, 52, 76, .15);
    --shadow-color-hover: rgba(32, 52, 76, .25);
    --shadow-size: 0 0 17px 0;
    --shadow-size-hover: 0 2px 30px 2px;
    --shadow: var(--shadow-size) var(--shadow-color);
    --shadow-hover: var(--shadow-size-hover) var(--shadow-color-hover);

    --safe-area-inset-top: 0;
    --safe-area-inset-right: 0;
    --safe-area-inset-bottom: 0;
    --safe-area-inset-left: 0;

    @media only screen and (prefers-color-scheme: dark) {
        --background-color: rgba(40, 41, 49, 1);
        --foreground-color: rgba(43, 44, 52, 1);
        --background-color-transparent: rgba(40, 41, 49, 0);
        --grey-background-color: rgba(65, 68, 80, 1);

        --text-color: rgba(210, 213, 220, 1);
        --text-color-transparent: rgba(210, 213, 220, 0);
        --alt-text-color: rgba(95, 97, 106, 1);
        --link-text-color: rgba(28, 98, 221, 1);

        --horizontal-line-background-color: rgba(48, 52, 62, 1);
        --horizontal-line-foreground-color: rgba(54, 58, 69, 1);

        --red-color: rgba(205, 3, 70, 1);
        --green-color: rgba(15, 214, 72, 1);
        --orange-color: rgba(234, 129, 4, 1);

        --shadow-color: rgba(15, 16, 24, .55);
        --shadow-color-hover: rgba(15, 16, 24, .60);
    }

    @media not screen and (hover: hover) and (pointer: fine) {
        --shadow-hover: var(--shadow);
    }

    @supports (--safe-area-inset-top: constant(safe-area-inset-top, 0px)) {
        --safe-area-inset-top: constant(safe-area-inset-top, 0px);
    }

    @supports (--safe-area-inset-right: constant(safe-area-inset-right, 0px)) {
        --safe-area-inset-right: constant(safe-area-inset-right, 0px);
    }

    @supports (--safe-area-inset-bottom: constant(safe-area-inset-bottom, 0px)) {
        --safe-area-inset-bottom: constant(safe-area-inset-bottom, 0px);
    }

    @supports (--safe-area-inset-left: constant(safe-area-inset-left, 0px)) {
        --safe-area-inset-left: constant(safe-area-inset-left, 0px);
    }

    @supports (--safe-area-inset-top: env(safe-area-inset-top, 0px)) {
        --safe-area-inset-top: env(safe-area-inset-top, 0px);
    }

    @supports (--safe-area-inset-right: env(safe-area-inset-right, 0px)) {
        --safe-area-inset-right: env(safe-area-inset-right, 0px);
    }

    @supports (--safe-area-inset-bottom: env(safe-area-inset-bottom, 0px)) {
        --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    }

    @supports (--safe-area-inset-left: env(safe-area-inset-left, 0px)) {
        --safe-area-inset-left: env(safe-area-inset-left, 0px);
    }
}

* {
    outline: none;
}

html {
    display: none;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;

    @media screen {
        display: block;
    }

    &:not(.native-viewport) {
        padding: var(--safe-area-inset-top) var(--safe-area-inset-right) var(--safe-area-inset-bottom) var(--safe-area-inset-left);
    }
}

html,
body {
    margin: 0px;
}

body {
    padding: 0px;

    &:not(.no-theme) {
        background: var(--background-color);
    }
}

#loading-bar {
    background-color: var(--text-color);
    height: 1.5px;
    position: fixed;
    top: var(--safe-area-inset-top);
    left: 0;
    width: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: width .4s ease-out, opacity .2s ease-out, visibility .2s ease-out;
}

html,
select,
option,
button,
input {
    font-family: 'Noto Sans JP', 'メイリオ', Meiryo, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

.multi-language {
    font-family: 'Noto Sans JP', 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans', 'メイリオ', Meiryo, 'PingFang TC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.hcenter {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

.button,
.input-field {
    box-shadow: var(--shadow);
    transition: box-shadow .4s ease-out;
    background: var(--foreground-color);
    max-width: 100%;
    margin: 1em 0px;
}

.input-field:not(.disabled):hover,
.button:enabled:hover {
    box-shadow: var(--shadow-hover);
}

.button,
.input-field>input {
    font-size: medium;
    border: none;
    border-radius: 0px;
    padding: 0.5em 1em;
    min-height: 40px;

    &:disabled {
        color: var(--alt-text-color);
        /* required on iOS */
        -webkit-text-fill-color: var(--alt-text-color);
        opacity: 1;
        cursor: wait;
    }
}

.button {
    width: 150px;
    /* Set color on 'input' elements will override placeholder color in some older browsers */
    color: var(--text-color);
    cursor: pointer;
    text-align: center;
    display: block;
}

.input-field {
    width: 300px;
    padding: 0px;

    >input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        margin: 0px;
        box-sizing: border-box;
    }
}

.button:disabled {
    background-color: var(--foreground-color);
}

.input-field>input:disabled {
    background-color: transparent;
}

.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
    cursor: pointer;
    color: var(--link-text-color);
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.transparent {
    opacity: 0;
}

.color-green {
    color: var(--green-color);
}

.color-red {
    color: var(--red-color);
}

.color-orange {
    color: var(--orange-color);
}

::placeholder {
    /* Most modern browsers support this now. */
    color: var(--alt-text-color);
    opacity: 1;
}