@use 'module/property';

.container {
    textarea {
        color: var(property.get(text-color));
        background: transparent;
    }

    .changed {
        background-color: yellow;
    }

    button {
        background: var(property.get(foreground-color));
    }
}