@charset "utf-8";
/* CSS Document */

* {
    font-family: 'Noto Sans JP', 'Noto Sans TC', 'Noto Sans SC', 'メイリオ', Meiryo, 'PingFang TC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

.hidden {
    display: none !important;
}

textarea {
    background: transparent;
}

.changed {
    background-color: yellow;
}