@use 'module/properties';

.container {
    textarea {
        color: var(properties.get(text-color));
        background: transparent;
    }

    .changed {
        background-color: yellow;
    }

    button {
        background: var(properties.get(foreground-color));
    }
}