@charset "utf-8";
/* CSS Document */

html {
    display: none;
}

@media screen {
    html {
        display: block;
    }
}

body {
    padding: 0px;
    margin: 0px;
}

#image-container {
    position: relative;
    padding: 0px;
    width: 100%;
}

#image-container>img,
#image-container>canvas {
    display: block;
    max-width: 100%;
    pointer-events: none;
    -webkit-touch-callout: none;
}

#image-container>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}