@charset "utf-8";
/* CSS Document */

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: calc(3vh - 12px) 5% 3vh 5%;
    transition: opacity .4s ease-out;
}

#container>div {
    position: relative;
    width: 256px;
    max-width: calc(50% - 2 * 12px);
    height: auto;
    background-color: var(--foreground-color);
    box-shadow: var(--shadow);
    transition: box-shadow .4s ease-out;
    margin: 12px;
    cursor: pointer;
    align-self: flex-start;
}

@supports (max-width:calc(50% - min(2%, 12px) * 2)) and (margin: calc(3vh - min(2%, 12px)) 5% 3vh 5%) and (margin: min(2%, 12px)) {
    #container {
        margin: calc(3vh - min(2%, 12px)) 5% 3vh 5%;
    }

    #container>div {
        max-width: calc(50% - min(2%, 12px) * 2);
        margin: min(2%, 12px);
    }
}

#container>div:hover {
    box-shadow: var(--shadow-hover);
}

#container>div>* {
    width: 100%;
}

#container>div>div {
    position: relative;
    padding-bottom: 141.4213562%;
    margin: 0px;
}

@media only screen and (hover: hover) and (pointer: fine) {
    #container>div>div>.overlay {
        background-color: rgb(255, 255, 255);
        transition: opacity .4s ease-out;
        opacity: 0;
    }

    #container>div:hover>div>.overlay {
        opacity: 0.1;
    }

    @media only screen and (prefers-color-scheme: dark) {
        #container>div>div>.overlay {
            background-color: rgb(0, 0, 0);
            opacity: 0.1;
        }

        #container>div:hover>div>.overlay {
            opacity: 0;
        }
    }
}

#container>div>p {
    width: 90%;
    margin: 10% 5%;
    padding: 0px;
}

.keyword {
    display: none;
}

#search-bar {
    background: var(--foreground-color);
    display: flex;
    height: 50px;
    box-shadow: var(--shadow);
    transition: box-shadow .4s ease-out;
    margin: 3vh auto 0px auto;
    width: 75%;
    max-width: 1000px;
}

#search-bar:not(.disabled):hover {
    box-shadow: var(--shadow-hover);
}

#search-bar.disabled {
    cursor: wait;
}

#search-bar .icon {
    margin: 0px;
    padding: 0 10px;
    height: 50px;
    width: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#search-bar.disabled .icon {
    cursor: wait;
}

#search-bar .icon svg {
    display: block;
    fill: var(--alt-text-color);
    height: 24px;
    width: 24px;
}

#search-bar .input-field {
    flex: 1;
    background-color: transparent;
    height: 100%;
    margin: 0px;
}

.input-field>input {
    padding-left: 0px;
}

#position-detector {
    width: 100%;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.announcement {
    margin: 3vh auto 0px auto;
    width: 75%;
    max-width: 1000px;
    padding: 2em;
    background-color: var(--foreground-color);
    box-shadow: var(--shadow);
    transition: box-shadow .4s ease-out;
    box-sizing: border-box;
}

.announcement:hover {
    box-shadow: var(--shadow-hover);
}

.announcement-title {
    text-align: center;
    margin: 0px 0px 1em 0px;
    padding: 0px;
    font-size: x-large;
    font-weight: 500;
}

.announcement-body {
    margin: 1em 0px 0px 0px;
    padding: 0px;
    text-align: center;
}