@use 'module/property';
@use 'module/query';

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: calc(3vh - min(2%, 0.75em)) calc(5% - min(2%, 0.75em)) max(-2%, -0.75em);
    transition: opacity .4s ease-out;

    >div {
        position: relative;
        width: 256px;
        max-width: calc(50% - min(2%, 0.75em) * 2);
        height: auto;
        background-color: var(property.get(foreground-color));
        box-shadow: var(property.get(shadow));
        transition: box-shadow .4s ease-out;
        margin: min(2%, 0.75em);
        cursor: pointer;
        align-self: flex-start;

        >* {
            width: 100%;
        }

        >p {
            width: 90%;
            margin: 10% 5%;
            padding: 0px;
        }

        >div {
            padding-bottom: 141.4213562%;
            margin: 0px;
        }

        >.thumbnail {
            position: relative;
        }

        >.overlay {
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: rgb(255, 255, 255);
            transition: opacity .4s ease-out;
            opacity: 0;
        }

        &:hover {
            box-shadow: var(property.get(shadow-hover));

            >.overlay {
                opacity: 0.1;

                @include query.touch-hover {
                    opacity: 0;
                }
            }
        }

        @include query.dark-mode {
            >.overlay {
                background-color: rgb(0, 0, 0);
                opacity: 0.1;
            }

            &:hover>.overlay {
                opacity: 0;

                @include query.touch-hover {
                    opacity: 0.1;
                }
            }
        }
    }

    &.empty {
        margin: 0px;
    }
}

.search-bar {
    display: flex;
    height: 50px;
    margin: 3vh auto 0px auto;
    width: 500px;
    max-width: 90%;

    >.icon {
        margin: 0px;
        padding: 0 10px;
        height: 50px;
        width: 24px;
        display: flex;
        align-items: center;
        cursor: pointer;

        >svg {
            display: block;
            fill: var(property.get(alt-text-color));
            height: 24px;
            width: 24px;
        }
    }

    >input {
        flex: 1;
        padding: 0.5em 1em 0.5em 0px;
    }

    &.disabled>.icon {
        cursor: wait;
    }
}

.announcement {
    margin: 3vh auto 0px auto;
    padding: 0px;
    width: 90%;
    max-width: 1000px;
    background-color: var(property.get(foreground-color));
    box-shadow: var(property.get(shadow));
    transition: box-shadow .4s ease-out;
    box-sizing: border-box;

    &:hover {
        box-shadow: var(property.get(shadow-hover));
    }

    >div {
        display: inline-block;
        margin: min(2em, 5%);
        width: calc(100% - min(4em, 10%));

        .announcement-title {
            text-align: center;
            margin: 0px 0px 1em 0px;
            padding: 0px;
            font-size: x-large;
            font-weight: 500;
        }

        .announcement-body {
            margin: 1em 0px 0px 0px;
            padding: 0px;
            text-align: center;
        }
    }
}

.loading-text {
    text-align: center;
    color: var(property.get(alt-text-color));
    transition: opacity .4s ease-out;
    margin: 3vh 0px;
}