@use 'module/properties';
@use 'module/common';

#page-top {
    @include common.ellipsis-clipping-2;

    #container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        margin: calc(3vh - 12px) calc(5% - 12px) -12px;
        transition: opacity .4s ease-out;

        >div {
            position: relative;
            width: 256px;
            max-width: calc(50% - 2 * 12px);
            height: auto;
            background-color: var(properties.get(foreground-color));
            box-shadow: var(properties.get(shadow));
            transition: box-shadow .4s ease-out;
            margin: 12px;
            cursor: pointer;
            align-self: flex-start;

            >* {
                width: 100%;
            }

            >p {
                width: 90%;
                margin: 10% 5%;
                padding: 0px;
            }

            >div {
                padding-bottom: 141.4213562%;
                margin: 0px;
            }

            >.lazyload {
                position: relative;
            }

            >.overlay {
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: rgb(255, 255, 255);
                transition: opacity .4s ease-out;
                opacity: 0;
            }

            &:hover {
                box-shadow: var(properties.get(shadow-hover));

                >.overlay {
                    opacity: 0.1;

                    @media not screen and (hover: hover) and (pointer: fine) {
                        opacity: 0;
                    }
                }
            }

            @media only screen and (prefers-color-scheme: dark) {
                >.overlay {
                    background-color: rgb(0, 0, 0);
                    opacity: 0.1;
                }

                &:hover>.overlay {
                    opacity: 0;

                    @media not screen and (hover: hover) and (pointer: fine) {
                        opacity: 0.1;
                    }
                }
            }
        }

        @supports (max-width: calc(50% - min(2%, 12px) * 2)) and (margin: calc(3vh - min(2%, 12px)) calc(5% - min(2%, 12px)) max(-2%, -12px)) and (margin: min(2%, 12px)) {
            margin: calc(3vh - min(2%, 12px)) calc(5% - min(2%, 12px)) max(-2%, -12px);

            >div {
                max-width: calc(50% - min(2%, 12px) * 2);
                margin: min(2%, 12px);
            }
        }

        &.empty {
            margin: 0px;
        }
    }

    #search-bar {
        background: var(properties.get(foreground-color));
        display: flex;
        height: 50px;
        box-shadow: var(properties.get(shadow));
        transition: box-shadow .4s ease-out;
        margin: 3vh auto 0px auto;
        width: 500px;
        max-width: 90%;

        .icon {
            margin: 0px;
            padding: 0 10px;
            height: 50px;
            width: 24px;
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                display: block;
                fill: var(properties.get(alt-text-color));
                height: 24px;
                width: 24px;
            }
        }

        input {
            flex: 1;
            background-color: transparent;
            height: 100%;
            width: 100%;
            margin: 0px;
            font-size: medium;
            border: none;
            padding: 0.5em 1em 0.5em 0px;
            box-sizing: border-box;
        }

        &:not(.disabled):hover {
            box-shadow: var(properties.get(shadow-hover));
        }

        &.disabled {
            cursor: wait;

            .icon {
                cursor: wait;
            }
        }
    }

    .announcement {
        margin: 3vh auto 0px auto;
        padding: 0px;
        width: 90%;
        max-width: 1000px;
        background-color: var(properties.get(foreground-color));
        box-shadow: var(properties.get(shadow));
        transition: box-shadow .4s ease-out;
        box-sizing: border-box;

        &:hover {
            box-shadow: var(properties.get(shadow-hover));
        }

        >div {
            display: inline-block;
            margin: 2em;
            width: calc(100% - 4em);

            @supports (margin: min(2em, 5%)) and (width: calc(100% - min(4em, 10%))) {
                margin: min(2em, 5%);
                width: calc(100% - min(4em, 10%));
            }

            .announcement-title {
                text-align: center;
                margin: 0px 0px 1em 0px;
                padding: 0px;
                font-size: x-large;
                font-weight: 500;
            }

            .announcement-body {
                margin: 1em 0px 0px 0px;
                padding: 0px;
                text-align: center;
            }
        }
    }

    #loading-text {
        text-align: center;
        color: var(properties.get(alt-text-color));
        transition: opacity .4s ease-out;
        margin: 3vh 0px;
    }
}