@charset "utf-8";
/* CSS Document */

#container {
	width: min(1000px, 90%);
	margin: 5vh 0px;
	padding: 2em;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: var(--foreground-color);
	box-shadow: var(--shadow);
    transition: box-shadow .4s ease-out;
	box-sizing: border-box;
	text-align: center;
}

#title {
	margin: 0px 0px 1em 0px;
	padding: 0px;
	font-size: x-large;
	font-weight: 500;
}

#message {
	margin: 1em 0px 0px 0px;
	padding: 0px;
}

button {
	padding: 0px;
	height: 40px;
	box-shadow: var(--shadow);
    transition: box-shadow .4s ease-out;
	background: var(--foreground-color);
	border: none;
	width: min(150px, 100%);
	text-align: center;
	position: relative;
	cursor: pointer;
	font-size: medium;
	margin: 1em 0px 0px 0px;
}

#container:hover, button:hover {
	box-shadow: var(--shadow-hover);
}