@use 'module/property';

.container {
    width: 1000px;
    max-width: 90%;
    margin: 5vh 0px;
    padding: 2em;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(property.get(foreground-color));
    box-shadow: var(property.get(shadow));
    transition: box-shadow .4s ease-out;
    box-sizing: border-box;
    text-align: center;

    &:hover {
        box-shadow: var(property.get(shadow-hover));
    }

    >.title {
        margin: 0px 0px 1em 0px;
        padding: 0px;
        font-size: x-large;
        font-weight: 500;
    }

    >.body {
        margin: 1em 0px 0px 0px;
        padding: 0px;

        ul {
            list-style-position: inside;
            padding: 0px;
        }
    }

    >button {
        margin: 1em 0px 0px 0px;
    }
}