@charset "utf-8";
/* CSS Document */

#container {
	width: 1000px;
	max-width: 90%;
	margin: 5vh 0px;
	padding: 2em;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
	background-color: var(--foreground-color);
	box-shadow: var(--shadow);
    transition: box-shadow .4s ease-out;
	box-sizing: border-box;
	text-align: center;
}

#title {
	margin: 0px 0px 1em 0px;
	padding: 0px;
	font-size: x-large;
	font-weight: 500;
}

#message {
	margin: 1em 0px 0px 0px;
	padding: 0px;
}

button {
	height: 40px;
	box-shadow: var(--shadow);
    transition: box-shadow .4s ease-out;
	background: var(--foreground-color);
	width: 150px;
	max-width: 100%;
	position: relative;
	margin: 1em 0px 0px 0px;
}

#container:hover, button:enabled:hover {
	box-shadow: var(--shadow-hover);
}