@use 'module/property';

.container {
    width: 1000px;
    max-width: 90%;
    margin: 0px;
    padding: 1em 0px 1em 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

    .title {
        text-align: center;
        font-size: x-large;
    }

    .sub-title {
        font-size: large;
    }

    .title,
    .sub-title {
        margin: 1em 0px;
        padding: 0px;
        font-weight: 500;
    }

    hr {
        margin: 2em 0px 2em 0px;
        height: 1px;
        border-width: 0;
        background-color: var(property.get(horizontal-line-background-color));
    }

    .warning {
        margin: 1em 0px;
    }

    .note {
        padding: 0px 0px 0px 1em;

        >li {
            font-size: small;
            color: var(property.get(alt-text-color));
        }
    }

    .sessions {
        >div {
            margin: 2em 0px;
            width: 100%;
            background-color: var(property.get(foreground-color));
            box-sizing: border-box;
            box-shadow: var(property.get(shadow));
            transition: box-shadow .4s ease-out;
            padding: 0px;

            &:hover {
                box-shadow: var(property.get(shadow-hover));
            }

            >div {
                display: inline-block;
                margin: min(2em, 5%);
                width: calc(100% - min(4em, 10%));

                >p {
                    margin: 0px 0px 1em 0px;

                    &.ip {
                        overflow-wrap: break-word;
                    }
                }

                >.warning {
                    margin: 0px;
                }

                >button {
                    margin: 0px;
                }
            }
        }
    }
}

.totp-qrcode {
    display: block;
    max-width: 100%;
    margin: 0px;
}

.totp-uri {
    word-break: break-all;
}

.recovery-codes {
    background-color: var(property.get(grey-background-color));
    display: inline-block;
    width: 100%;
    word-break: break-all;
    font-family: 'Courier New', Courier, monospace;
}