@use 'module/common';

#page-my-account {
    @include common.password-font;

    #container {
        width: 1000px;
        max-width: 90%;
        margin: 0px;
        padding: 1em 0px 1em 0px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #title {
        text-align: center;
        font-size: x-large;
    }

    .sub-title {
        font-size: large;
    }

    #title,
    .sub-title {
        margin: 1em 0px;
        padding: 0px;
        font-weight: 500;
    }

    hr {
        margin: 2em 0px 2em 0px;
        height: 1px;
        border-width: 0;
        background-color: var(--horizontal-line-background-color);
    }

    .warning {
        margin: 1em 0px;
    }

    .button {
        &.not-allowed {
            cursor: not-allowed;
        }
    }

    .note>ul {
        padding: 0px 0px 0px 1em;

        >li {
            font-size: small;
            color: var(--alt-text-color);
        }
    }

    .totp-qrcode {
        display: block;
        max-width: 100%;
        margin: 0px;
    }

    .totp-uri {
        overflow-wrap: break-word;
    }

    .recovery-codes {
        background-color: var(--grey-background-color);
        display: inline-block;
        width: 100%;
        overflow-wrap: anywhere;
        font-family: 'Courier New', Courier, monospace;
    }

    #sessions {
        >div {
            margin: 2em 0px;
            width: 100%;
            background-color: var(--foreground-color);
            box-sizing: border-box;
            box-shadow: var(--shadow);
            transition: box-shadow .4s ease-out;
            padding: 0px;

            &:hover {
                box-shadow: var(--shadow-hover);
            }

            >div {
                display: inline-block;
                margin: 2em;
                max-width: calc(100% - 4em);

                @supports (margin: min(2em, 5%)) and (max-width: calc(100% - min(4em, 10%))) {
                    margin: min(2em, 5%);
                    max-width: calc(100% - min(4em, 10%));
                }

                >p {
                    margin: 0px 0px 1em 0px;
                }

                >.warning {
                    margin: 0px;
                }

                >.button {
                    margin: 0px;
                }
            }
        }
    }
}