:root {
    --nav-bar-height: 3.2em;
    --nav-bar-padding: 0px;
    --nav-bar-button-padding: 0px;

    @supports (--nav-bar-height: calc(3.2em + constant(safe-area-inset-bottom, 0px))) {
        --nav-bar-height: calc(3.2em + constant(safe-area-inset-bottom, 0px));
    }

    @supports (--nav-bar-padding: 0px max(constant(safe-area-inset-right, 0px), constant(safe-area-inset-left, 0px))) {
        --nav-bar-padding: 0px max(constant(safe-area-inset-right, 0px), constant(safe-area-inset-left, 0px));
    }

    @supports (--nav-bar-button-padding: 0px 0px constant(safe-area-inset-bottom, 0px) 0px) {
        --nav-bar-button-padding: 0px 0px constant(safe-area-inset-bottom, 0px) 0px;
    }

    @supports (--nav-bar-height: calc(3.2em + env(safe-area-inset-bottom, 0px))) {
        --nav-bar-height: calc(3.2em + env(safe-area-inset-bottom, 0px));
    }

    @supports (--nav-bar-padding: 0px max(env(safe-area-inset-right, 0px), env(safe-area-inset-left, 0px))) {
        --nav-bar-padding: 0px max(env(safe-area-inset-right, 0px), env(safe-area-inset-left, 0px));
    }

    @supports (--nav-bar-button-padding: 0px 0px env(safe-area-inset-bottom, 0px) 0px) {
        --nav-bar-button-padding: 0px 0px env(safe-area-inset-bottom, 0px) 0px;
    }
}

#nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--nav-bar-height);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--foreground-color);
    border-top: 1px solid var(--horizontal-line-foreground-color);
    z-index: 99;
    padding: var(--nav-bar-padding);
    box-sizing: border-box;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.2em;
        max-width: 10em;
        flex: 1;
        cursor: pointer;
        padding: var(--nav-bar-button-padding);

        >div {
            >.icon {
                position: relative;
                height: 1.25em;
                width: 100%;
                margin: 0px 0px 0.2em 0px;
                padding: 0px;

                >svg {
                    height: 100%;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0px);
                    fill: var(--text-color);
                }
            }

            >p {
                margin: 0px;
                padding: 0px;
                font-size: x-small;
                line-height: 1em;
                text-align: center;
            }
        }
    }
}

#nav-bar-padding {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: var(--nav-bar-height);
}