@use 'module/property';

.container {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.loading-text {
    text-align: center;
    color: var(property.get(alt-text-color));
    margin: 1.5em 0px;
}

.overview-container,
.content-container {
    width: 1000px;
    max-width: 90%;
    margin: 1.5em 0px;
    padding: 1em 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(property.get(foreground-color));
    box-shadow: var(property.get(shadow));
    transition: box-shadow .4s ease-out;

    &:hover {
        box-shadow: var(property.get(shadow-hover));
    }
}

.overview-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    >.date {
        padding: 0px 3% 0px 3%;
        border-right: 1px solid var(property.get(horizontal-line-foreground-color));
        white-space: nowrap;
        text-align: center;
    }

    >.overview-title {
        margin: 0px 3%;
        font-weight: 500;
    }
}

.content-container>div {
    margin: 0px 5%;
    padding: 0px 0px 1.5em 0px;

    >.content {
        margin: 0px;
        padding: 0px;

        >.loading-text {
            margin: 0px;
        }

        .sub-title {
            font-size: large;
            font-weight: 400;
        }

        .line-break {
            margin: 2em 0px 0px 0px;
        }

        .bolder {
            font-weight: 500;
        }

        .bold {
            font-weight: 400;
        }

        .code-inline {
            background-color: var(property.get(grey-background-color));
            padding: 0px 0.3em;
            border-radius: 0.3em;
            font-family: 'Courier New', Courier, monospace;
        }

        .image-internal {
            position: relative;
            margin-block-start: 1em;
            margin-block-end: 1em;
            width: fit-content;
            cursor: pointer;
        }
    }

    >.date {
        font-size: small;
        color: var(property.get(alt-text-color));
        text-align: center;
        margin: 0.5em 0px;
    }

    >.title {
        text-align: center;
        padding: 0px;
        margin: 1em 0px;
        font-size: x-large;
        font-weight: 500;
    }

    hr {
        margin: 2em 0px;
        height: 1px;
        border-width: 0;
        background-color: var(property.get(horizontal-line-foreground-color));
    }
}