@charset "utf-8";
/* CSS Document */

:lang(en) {
    font-family: roboto, 'Noto Sans Myanmar UI', arial, sans-serif;
    font-weight: 300;
}

:lang(zh-Hans) {
    font-family: 'Noto Sans SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

:lang(zh-Hant) {
    font-family: 'Noto Sans TC', 'PingFang TC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

p:lang(en) {
    line-height: 1.5;
}

html {
    scroll-padding-top: 46px;
}

#main>div {
    width: 1000px;
    max-width: 90%;
    margin: 2em 0px;
    padding: 1em 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: var(--foreground-color);
    box-shadow: var(--shadow);
    transition: box-shadow .4s ease-out;
}

#main>div:hover {
    box-shadow: var(--shadow-hover);
}

#main>div.overview-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#main>div.overview-container>.date {
    padding: 0px 3% 0px 3%;
    border-right: 1px solid var(--horizontal-line-foreground-color);
    white-space: nowrap;
    /*color: var(--alt-text-color);*/
}

#main>div.overview-container>.overview-title {
    padding: 0px 3% 0px 3%;
    font-weight: 500;
}

#content-container {
    margin: 0px 5%;
    padding: 0px 0px 1.5em 0px;
}

#content {
    margin: 0px;
    padding: 0px;
}

#title {
    text-align: center;
    padding: 0px;
    margin: 1em 0px;
    font-size: x-large;
    font-weight: 500;
}

#content-container>.date {
    font-size: small;
    color: var(--alt-text-color);
    text-align: center;
    margin: 0.5em 0px;
}

.sub-title {
    font-size: large;
    font-weight: 400;
}

hr {
    margin: 2em 0px;
    height: 1px;
    border-width: 0;
    background-color: var(--horizontal-line-foreground-color);
}

.line-break {
    margin: 2em 0px 0px 0px;
}

.bolder {
    font-weight: 500;
}

.bold {
    font-weight: 400;
}