@use 'module/properties';

.player {
    display: block;
    box-sizing: border-box;
    color: var(properties.get(text-color));
    background-color: #000;
    position: relative;
    padding: 0;
    font-size: small;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    word-break: initial;

    &:-moz-full-screen {
        position: absolute;
    }

    &:-webkit-full-screen {
        width: 100% !important;
        height: 100% !important;
    }

    &[tabindex="-1"] {
        outline: none;
    }

    * {
        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:before,
        &:after {
            box-sizing: inherit;
        }
    }

    button {
        background: none;
        border: none;
        color: inherit;
        display: inline-block;
        font-size: inherit;
        line-height: inherit;
        text-transform: none;
        text-decoration: none;
        transition: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        min-height: auto;
    }

    .player-hidden {
        display: none !important;
    }

    .player-icon-placeholder>svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2em;
        fill: var(properties.get(text-color));
        transition: fill 0.4s;
    }

    .player-tech {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .player-loading-spinner {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1.5rem 0 0 -1.5rem;
        opacity: 1;
        text-align: left;
        border: 3px solid var(properties.get(text-color));
        box-sizing: border-box;
        background-clip: padding-box;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        visibility: hidden;

        &:before,
        &:after {
            content: "";
            position: absolute;
            margin: -3px;
            box-sizing: inherit;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            opacity: 1;
            border: inherit;
            border-color: transparent;
            border-top-color: var(properties.get(background-color));
        }

        @media only screen and (prefers-color-scheme: dark) {
            border: 3px solid var(properties.get(background-color));

            &:before,
            &:after {
                border-top-color: var(properties.get(text-color));
            }
        }
    }

    .player-big-play-button {
        width: 4rem;
        display: block;
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        >button {
            display: block;
            position: relative;
            width: 100%;
            padding: 0px 0px 100% 0px;
            cursor: pointer;
            border: 0px;
            background-color: var(properties.get(foreground-color));
            border-radius: 50%;
            color: var(properties.get(text-color));
        }

        .player-icon-placeholder>svg {
            width: 70%;
        }

        @supports (width: min(30%, 4rem)) {
            width: min(30%, 4rem);
        }
    }

    .player-control-bar {
        display: none;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2.5em;
        background-color: var(properties.get(foreground-color));

        .player-button {
            position: relative;
            width: 10%;
            max-width: 3.5em;
            min-width: 2em;
            height: 100%;
            flex: none;
            margin: 0;
            padding: 0;
            cursor: pointer;

            >.player-icon-placeholder {
                display: block;
            }

            &.player-disabled {
                cursor: default !important;

                svg {
                    fill: var(properties.get(alt-text-color)) !important;
                }
            }
        }

        .player-play-control {
            .player-icon-placeholder {
                >.player-play-icon {
                    visibility: visible;
                }

                >.player-pause-icon,
                >.player-replay-icon {
                    visibility: hidden;
                }
            }
        }

        .player-time-control {
            flex: none;
            width: auto;
            display: block;
            padding: 0px 0.5em;
            height: 1.15em;
        }

        .player-time-divider {
            min-width: 0em;
            padding: 0px;
            height: 1.2em;
        }

        .player-progress-control {
            cursor: pointer;
            flex: auto;
            display: flex;
            align-items: center;
            touch-action: none;
            height: 100%;

            .player-progress-holder {
                font-size: 0.8em;
                margin: 0 1em;
                flex: auto;
                transition: all 0.2s;
                height: 0.4em;
                position: relative;
                cursor: pointer;
                padding: 0;
                /* iOS Safari */
                -webkit-touch-callout: none;
                /* Safari */
                -webkit-user-select: none;
                /* Konqueror HTML */
                /* Firefox */
                -moz-user-select: none;
                /* Internet Explorer/Edge */
                -ms-user-select: none;
                /* Non-prefixed version, currently supported by Chrome and Opera */
                user-select: none;
                background-color: rgba(0, 0, 0, 0.15);

                .player-play-progress,
                .player-load-progress {
                    position: absolute;
                    display: block;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    width: 0;
                }

                .player-play-progress {
                    background-color: var(properties.get(text-color));

                    .player-icon-placeholder>svg {
                        width: 1.4em;
                        left: 100%;
                        z-index: 1;
                    }
                }

                .player-load-progress {
                    background: var(properties.get(alt-text-color));
                    opacity: 0.5;
                }

                .player-mouse-display {
                    display: none;
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    z-index: 1;

                    &.player-mouse-display-backward {
                        background-color: var(properties.get(foreground-color));
                    }

                    &.player-mouse-display-forward {
                        background-color: var(properties.get(text-color));
                    }

                    .player-time-tooltip {
                        color: var(properties.get(foreground-color));
                        background-color: var(properties.get(text-color));
                        border-radius: 0.3em;
                        float: right;
                        padding: 0.6em 0.8em;
                        pointer-events: none;
                        position: absolute;
                        top: -2.8em;
                        visibility: hidden;
                        z-index: 1;
                        white-space: nowrap;
                    }
                }
            }

            &:hover {
                .player-progress-holder {
                    font-size: 1em;

                    @media not screen and (hover: hover) and (pointer: fine) {
                        font-size: 0.8em;
                    }

                    .player-mouse-display {
                        display: block;

                        @media not screen and (hover: hover) and (pointer: fine) {
                            display: none;
                        }

                        .player-time-tooltip {
                            display: block;
                            visibility: visible;
                        }
                    }
                }
            }
        }

        .player-picture-in-picture-control {
            .player-icon-placeholder {
                >.player-picture-in-picture-enter-icon {
                    visibility: visible;
                }

                >.player-picture-in-picture-exit-icon {
                    visibility: hidden;
                }
            }
        }

        .player-fullscreen-control {
            .player-icon-placeholder {
                >.player-fullscreen-enter-icon {
                    visibility: visible;
                }

                >.player-fullscreen-exit-icon {
                    visibility: hidden;
                }
            }
        }
    }

    &.player-audio {
        min-height: 2.5em;
        padding-top: 0px;

        .player-control-bar {
            display: flex;
            opacity: 1;
            pointer-events: auto;
        }
    }

    &.player-has-started {
        &.player-user-inactive {
            cursor: none;
        }

        .player-big-play-button {
            display: none;
        }

        .player-control-bar {
            display: flex;
            opacity: 1;
            transition: opacity 0.1s;
        }
    }

    &.player-user-inactive {
        .player-control-bar {
            opacity: 0;
            pointer-events: none;
            transition: opacity 1s;

            .player-progress-control {
                .player-progress-holder {
                    .player-mouse-display {
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility 1s, opacity 1s;
                    }
                }
            }
        }
    }

    &.player-seeking,
    &.player-waiting {
        .player-loading-spinner {
            display: block;
            animation: player-spinner-show 0s linear 0.3s forwards;

            @keyframes player-spinner-show {
                to {
                    visibility: visible;
                }
            }

            &:before,
            &:after {
                animation: player-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite;

                @keyframes player-spinner-spin {
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }

            &:after {
                animation-delay: 0.44s;
            }
        }
    }

    &.player-playing {
        .player-play-control .player-icon-placeholder {
            >.player-pause-icon {
                visibility: visible;
            }

            >.player-play-icon {
                visibility: hidden;
            }
        }
    }

    &.player-fullscreen {
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        font-size: medium;

        .player-control-bar {
            width: 95%;
            margin: 0px auto 3em auto;
            border-radius: 1em;
            padding: 0px 0.5em 0px 0.5em;
            box-shadow: var(properties.get(shadow));
            box-sizing: border-box;

            .player-fullscreen-control .player-icon-placeholder {
                >.player-fullscreen-exit-icon {
                    visibility: visible;
                }

                >.player-fullscreen-enter-icon {
                    visibility: hidden;
                }
            }
        }
    }

    &.player-picture-in-picture {
        .player-control-bar {
            .player-picture-in-picture-control .player-icon-placeholder {
                >.player-picture-in-picture-exit-icon {
                    visibility: visible;
                }

                >.player-picture-in-picture-enter-icon {
                    visibility: hidden;
                }

                >svg {
                    fill: var(properties.get(link-text-color));
                }
            }
        }
    }

    &.player-ended {
        .player-loading-spinner {
            display: none;
        }

        .player-control-bar {
            .player-play-control .player-icon-placeholder {
                >.player-replay-icon {
                    visibility: visible;
                }

                >.player-play-icon,
                >.player-pause-icon {
                    visibility: hidden;
                }
            }
        }
    }
}