@use 'module/common';

#portal-form {
    @include common.password-font;

    max-width: 90%;
    margin: 3vh 0px;
    padding: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;

    #title {
        text-align: center;
        margin: 1em 0px;
        padding: 0px;
        font-size: x-large;
        font-weight: 500;
    }

    #warning {
        padding: 0px;
        margin: 1em 0px;
        color: var(--red-color);
    }

    .button {
        margin: 2em 0px;
    }

    #note {
        margin-bottom: 2em;

        >ul {
            font-size: small;
            text-align: left;
            padding: 0px 0px 0px 2em;

            >li {
                color: var(--alt-text-color);
            }
        }
    }
}