@charset "utf-8";
/* CSS Document */

:lang(en) {
    font-family: roboto, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

:lang(zh-Hans) {
    font-family: 'Noto Sans SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

:lang(zh-Hant) {
    font-family: 'Noto Sans TC', 'PingFang TC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;
}

p:lang(en) {
    line-height: 1.5;
}