@charset "utf-8";
/* CSS Document */

.video-js.vjs-playing.vjs-user-inactive {
    cursor: none;
}

.video-js .vjs-current-time,
.video-js .vjs-duration,
.video-js .vjs-time-divider {
    display: block;
    padding: 0px 0.3em;
}

.video-js .vjs-time-divider {
    min-width: 0em;
    padding: 0px;
}

.video-js .vjs-remaining-time,
.video-js .vjs-volume-panel,
.video-js .vjs-subs-caps-button,
.video-js .vjs-play-progress .vjs-time-tooltip {
    display: none !important;
}

.video-js .vjs-big-play-button {
    font-size: 4.0em;
    width: 1.63332em;
    border-radius: 50%;
    background-color: var(--foreground-color);
    color: var(--text-color);
    border: 0px;
    margin-top: -.81666em;
    margin-left: -.81666em;
    line-height: 1.6em;
}

.video-js .vjs-big-play-button:focus,
.video-js:hover .vjs-big-play-button {
    background-color: var(--foreground-color);
}

.vjs-loading-spinner {
    border: 6px solid rgba(50, 50, 50, .6);
    opacity: 1;
}

.vjs-seeking .vjs-loading-spinner:before,
.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:before,
.vjs-waiting .vjs-loading-spinner:after {
    border-top-color: rgba(255, 255, 255, 1);
    -webkit-animation: vjs-spinner-spin 1.1s cubic-bezier(.6, .2, 0, .8) infinite;
    animation: vjs-spinner-spin 1.1s cubic-bezier(.6, .2, 0, .8) infinite;
}

@media only screen and (prefers-color-scheme: dark) {
    .vjs-loading-spinner {
        border: 6px solid rgba(45, 48, 57, .6);
    }

    .vjs-seeking .vjs-loading-spinner:before,
    .vjs-seeking .vjs-loading-spinner:after,
    .vjs-waiting .vjs-loading-spinner:before,
    .vjs-waiting .vjs-loading-spinner:after {
        border-top-color: var(--text-color);
    }

    .vjs-mouse-display .vjs-time-tooltip {
        color: var(--text-color);
    }
}

.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:after {
    -webkit-animation-delay: .44s;
    animation-delay: .44s;
}

.video-js .vjs-control.vjs-button {
    width: 15%;
    max-width: 4em;
}

.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before,
.video-js .vjs-control:focus,
.video-js.vjs-audio .vjs-control:focus:before,
.video-js.vjs-audio .vjs-control:hover:before,
.video-js.vjs-audio .vjs-control:focus {
    text-shadow: none;
}

.video-js .vjs-slider:focus {
    text-shadow: none;
    box-shadow: none;
}

.video-js .vjs-progress-control .vjs-mouse-display.backward {
    background-color: var(--foreground-color);
}

.video-js .vjs-progress-control .vjs-mouse-display.forward {
    background-color: var(--text-color);
}

/* Fullscreen */

.video-js.vjs-fullscreen {
    box-shadow: none;
}

.video-js.vjs-fullscreen:hover {
    box-shadow: none;
}

.video-js.vjs-fullscreen .vjs-control-bar {
    width: 95%;
    margin: 0px auto 3em auto;
    border-radius: 10px;
    padding: 0px 0.5em 0px 0.5em;
    height: 4em;
    box-shadow: var(--shadow);
}

.video-js.vjs-fullscreen .vjs-button>.vjs-icon-placeholder:before {
    font-size: 2em;
    line-height: 2;
}

.video-js.vjs-fullscreen .vjs-time-control {
    font-size: 1.15em;
    line-height: 3.48;
}


/* Audio */

.video-js,
.video-js.vjs-audio {
    background-color: var(--foreground-color);
    color: var(--text-color);
}

.video-js .vjs-control-bar,
.video-js.vjs-audio .vjs-control-bar {
    background-color: var(--foreground-color);
}

.video-js .vjs-slider,
.video-js.vjs-audio .vjs-slider {
    background-color: rgba(0, 0, 0, 0.15);
}

.video-js .vjs-load-progress,
.video-js .vjs-load-progress div,
.video-js.vjs-audio .vjs-load-progress,
.video-js.vjs-audio .vjs-load-progress div {
    background: var(--alt-text-color);
    opacity: 0.5;
}

.video-js .vjs-play-progress,
.video-js .vjs-volume-level,
.video-js.vjs-audio .vjs-play-progress,
.video-js.vjs-audio .vjs-volume-level {
    background-color: var(--text-color);
}

/* Audio: Remove big play button (leave only the button in controls). */
.video-js.vjs-audio .vjs-big-play-button,
.video-js.vjs-audio .vjs-loading-spinner {
    display: none;
}

/* Audio: Make the controlbar visible by default */
.video-js.vjs-audio .vjs-control-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Make player height minimum to the controls height so when we hide video/poster area the controls are displayed correctly. */
.video-js.vjs-audio {
    min-height: 3em;
    padding-top: 0px;
}

/* Hide audio buffer progress. */
.video-js.vjs-audio .vjs-load-progress {
    display: none;
}